<table reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <tr class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <td style="width:100px;" class="postlist-date"><time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></td>
    <td class='post-title'><a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></td>
    <td class='post-tags'>
        {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
    </td>
    
    
  </tr>
{% endfor %}
</table>
